# Compiled binaries
ecc_main
keygen
*.exe

# Object files
*.o
*.obj
*.ko
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.so
*.so.*
*.dylib
*.dll

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Generated key files
*.pub
*.priv

# Editor files
.vscode/
.idea/
*.swp
*~

# Build directories
build/
bin/
obj/

# Dependency directories
deps/

AES/aes_cbc
TEA/tea_cbc
ecc_25519/ecc_main